.header {
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  height: 60px;
  background-color: #fff;
  background: #183854;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
  z-index: 12;
}
/* Search */

/* Search bar  */
a.search-bar-select.last-select {
  background: #fff;
  border: 1px solid #ccc;
  text-align: left;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
}
.search-bar-form h4 {
  margin-bottom: 1px;
  font-size: 18px;
  /* color: white; */
  font-weight: bold;
  margin-bottom: 10px;
  color: #16affd;
  margin-top: 10px;
}
.search-bar-select {
  width: 100%;
  cursor: pointer;
  border-right-width: 0;
  height: 48px;
  padding: 10px;
  line-height: 18px !important;
  border-color: #ccc;
  -moz-appearance: none;
  -webkit-appearance: none;
  apperance: none;
}
.search-bar-form .row .col-md-3,
.search-bar-form .row .col-md-12 {
  padding-right: 0;
  padding-left: 0;
}
.first-select {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.last-select {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-right-width: 1px;
}
.travellers-dropdown {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  /* border-top: 0; */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dropdown-head {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.counter-divs {
  margin-bottom: 10px;
}
.counter-btns {
  border-radius: 50% !important;
  height: 32px;
  width: 32px;
  padding-left: 4px;
  padding-top: 2px;
  color: #16869b;
  margin-bottom: 3px;
  outline: 0;
  line-height: 18px !important;
  user-select: none;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 7px 12px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.dropdown-inner-div {
  padding: 10px 10px 0px;
}
.dropdown-inner-div h6 {
  color: #737373;
}
.dropdown-inner-div .value {
  color: #737373;
  font-size: 20px;
  margin-left: 7px;
  margin-right: 7px;
}
.travellers-dropdown small {
  color: #818181;
  font-size: 10px;
  line-height: 1.4000000000000001em;
}
a.apply {
  display: block;
  border: 1px solid #ccc;
  padding: 3px;
  text-align: center;
  margin: 10px 0;
  color: #828181 !important;
}
a.apply:hover {
  background-color: #ccc;
  color: #fff !important;
}
.search-bar-btn-div {
  margin-top: 30px;
}
.search-bar-btn {
  padding: 10px 70px;
  font-size: 18px;
  transition: 0.2s;

  color: #fff;
  background-color: #16affd;
  border-color: #16affd;

  outline: 0;
  -webkit-appearance: none;
  line-height: 18px !important;
}
a.search-bar-btn i {
  margin-left: 12px;
}

/* --- */
.cruises-found {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cruises-found .cruises-found-heading {
  flex: 3;
}
.cruises-found .cruises-found-heading .main-heading {
  font-size: 30.758000000000003px;
  color: #565656;
  font-weight: 300;
}
.cruises-found .cruises-found-heading .sub-heading {
  font-size: 23.66px;
  color: #565656;
  font-weight: 300;
}

.cruises-found-btn {
  flex: 1;
  text-align: end;
}
.change-search-btn {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  background: #ffffe4;
  border: 1px solid #183854;
  color: #000;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
}

.change-search-btn:hover {
  text-decoration: none;
  color: #000;
}
.filter-aside {
  padding: 10px 0px 0;
  background: #ffffe4;
  border: 1px solid #183854;
  border-radius: 5px;
}
ul.cruise-filter > li {
  list-style: none;
  border-top: 1px solid #183854;
  padding: 10px 15px;
}

ul.cruise-filter {
  padding: 0;
}

.filter-aside h4 {
  text-align: center;
  color: #565656;
}
.flex-it {
  display: flex;
}
.w-100 {
  width: 100%;
}
ul.cruise-filter li h5 {
  font-weight: bold;
  font-size: 18px;
  color: #565656;
}

ul.cruise-filter li div span {
  font-size: 15px;
}
ul.vessel-type li {
  list-style: none;
}

ul.vessel-type {
  padding: 0;
}

ul.vessel-type li i {
  padding: 0 10px;
}
.single-cruise {
  display: block;
  position: relative;
  padding: 16px 10px;
  border: 1px solid #e6e6e6;
  color: #737373;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  display: flex;
  margin-bottom: 20px;
}
.cruise-img-div {
  overflow: hidden;
  width: 200px;
  cursor: pointer;
  margin-right: 16px;
}

.cruise-img-div img {
  width: 100%;
  transition: 1s all ease-in-out;
}
.cruise-img-div img:hover {
  transform: scale(1.5);
  filter: grayscale(50%);
}
.free-cancellation {
  color: #559416;
  font-weight: bold;
  margin: 0px 0;
}
.free-cancellation i {
  margin-right: 5px;
}
.upper-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.name-details h5 {
  font-size: 18px;
  padding-right: 15px;
  font-weight: bold;
}

.name-details h5 span {
  font-size: 16px;
  font-weight: normal;
  color: #317fae;
}
.cabin-details div {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 10px;
  border-radius: 5px;
  /* height: 80px;
  width: 150px; */
  min-width: 180px;
  padding: 15px;
  margin-right: 16px;
}

.cabin-details div p {
  margin-bottom: 0;
}
.cabin-details div p i {
  margin-right: 5px;
}
.see-vessel-div h6 {
  text-align: center;
  margin-bottom: 12px;
}
.see-vessel-div b,
.see-vessel-div span {
  display: block;
}
.see-vessel-btn {
  border-radius: 5px;
  background: #3c76a9;
  border-color: #3c76a9;
  color: #fff;
  padding: 6px 12px;
  margin-bottom: 5px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.see-vessel-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #286090;
}
.cruises-table tr td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 20% !important;
  max-width: 140px;
}
.cruises-table tr tH {
  width: 20% !important;
  max-width: 140px;
}
.cruises-table {
  margin: bottom 0;
}

.cruise-timeline {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.cruise-timeline-col {
  margin-bottom: 16px;
  margin-right: 15px;
}
.cruise-timeline-col-heading {
}

.cruise-timeline-col-heading span {
  /* color: #737373; */
  font-weight: bold;
}

.cruise-timeline-col-text {
}

.select-cruise-button-div {
  display: flex;
  justify-content: flex-end;
}

.select-cruise-button {
  background-color: #f0ad4e;
  color: #fff;
  /* width: 100%; */

  transition: 0.2s;
  padding-top: 2px;
  padding-bottom: 2px;
}

.select-cruise-button:hover {
  background-color: #ec971f;
  color: #fff;
}

.showing-results {
  font-size: 15px;
  background-color: #f2f2f2;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #737373;
}

@media only screen and (max-width: 992px) {
  .filter-aside {
    margin-bottom: 30px;
  }
  .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .single-cruise {
    flex-direction: column;
  }

  .cruise-img-div {
    width: 100%;
  }

  .cruise-timeline {
    justify-content: center;
  }

  .upper-details {
    flex-direction: column;
  }

  .image-section {
    margin-bottom: 16px;
  }

  .cabin-details {
    align-self: flex-start;
    margin-bottom: 16px;
  }
  .see-vessel-div {
    width: 50%;
    align-self: center;
  }

  .name-details {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 776px) {
  .search-bar-select {
    border-right-width: 1px;
    border-radius: 5px;
  }

  .select-cruise-button-div {
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  .cruises-found {
    flex-direction: column;
    margin-bottom: 16px;
    align-items: flex-start;
  }

  .cruises-found-heading {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .search-bar-form {
    margin-left: 5%;
    margin-right: 5%;
  }
  .search-bar-btn {
    padding: 10px 20px;
  }
  .select-cruise-button-div {
    width: 100%;
  }

  .select-cruise-button {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .see-vessel-div {
    width: 70%;
    align-self: flex-start;
  }

  .see-vessel-div h6 {
    text-align: start;
  }
  .cruise-timeline {
    flex-direction: column;
  }

  .container {
    max-width: 100%;
  }

  .free-cancellation {
    text-align: start;
  }

  .upper-details {
    margin-bottom: 50px;
  }

  .showing-results {
    flex-direction: column;
  }
}
